[2022-01-12 14:49] #155 closed

[2022-01-12 14:50] #222 closed

[2022-01-12 14:53] waxlamp commented on #246
@subdavis, is this still valid?

[2022-01-12 14:56] waxlamp commented on #254
@BryonLewis do you remember if someone asked for this specifically? Could you fill out the description with a bit more detail about motivation and approach; alternatively, please close if this is no longer relevant.

[2022-01-12 14:57] waxlamp commented on #256
@BryonLewis could you fill in information about who (if anyone) asked for this, and more detail on what is needed here?

[2022-01-12 15:01] waxlamp opened #1116 "Set up staging deploy"
_Originally posted by @subdavis in https://github.com/Kitware/dive/issues/274#issuecomment-673468590_:

[2022-01-12 15:02] BryonLewis commented on #254
This has been an ask from Matt for NOAA.

In implementation for the UI you need to introduce a key system to the polygon editor so it knows which polygon you are currently editing.  That way you can switch between adding new points to one polygon vs another.

I believe that we can use the existing geoJSON key system to include multiple polygons in the current track.JSON format.

This may bring out

[2022-01-12 15:03] waxlamp commented on #274
@subdavis I think this is a great idea in general, though I'm seeking your thoughts on how much ROI we'd get from doing it
1. right away (without being defensive on the server)
2. after setting up a staging server (which eliminates the danger of corrupting data)

If neither of those options justifies the investment, we can close this issue.

[2022-01-12 15:12] waxlamp commented on #282
@mattdawkins I'm going to close this, but if it's still valid, please re-open and edit the title and description to provide more context and information. Thanks!

[2022-01-12 15:12] #282 closed

[2022-01-12 15:13] waxlamp commented on #283
@subdavis do we need more info on this issue? Now that #306 is in process, we can at least triage this issue.

[2022-01-12 15:14] subdavis commented on #246
I'm trying to completely drop KPF support in #1037 so /shrug/

[2022-01-12 15:15] waxlamp commented on #295
In light of this, I'm closing the issue. Please re-open with extra information if this is still valid.

[2022-01-12 15:15] #295 closed

[2022-01-12 15:16] waxlamp commented on #288
@mattdawkins, since this is not an issue to be fixed in DIVE, I'm going to close. Please make sure to capture your note and move it to a more suitable location.

[2022-01-12 15:16] #288 closed

[2022-01-12 15:17] waxlamp commented on #309
@BryonLewis is this issue solved by the import/export work you did?

[2022-01-12 15:18] waxlamp commented on #331
@subdavis is this subsumed by, e.g., #1078 and/or #1079?

[2022-01-12 15:19] BryonLewis commented on #256
This has been a longstanding request from Matt and NOAA about supporting pixel level classifications instead of just polygons.

There needs to be some discussion about implementation:

- Do we use pixel masking files or number representation?
- Editing and creating pixel masks, paint brush like tool in the UI?
- How is VIAME going to return pixel masks to us (files, or data in the CSV output?)

[2022-01-12 15:24] BryonLewis commented on #309
This is related to the server mounting data and not a UX experience with the user.  I've never used the no-copy import feature when launching the server.  I also don't know when was the last time we used no-copy imports.
@subdavis  may be able to give a better response.

[2022-01-12 15:24] subdavis commented on #331
Maybe, maybe not.

* Undo could mean 'undo my last save', in which case yes.
* Undo could mean 'undo my last mouse action', in which case no.

[2022-01-12 15:34] waxlamp commented on #351
@subdavis is this still valid?

[2022-01-12 15:40] waxlamp commented on #364
@mattdawkins, I'd like to close this if it hasn't come up since you filed the issue. Could you provide an example of an image that caused this problem?

[2022-01-12 15:41] subdavis commented on #309
This issue should be closed.    We haven't encountered this as an issue in a long time.   The current no-copy import requirements that folders be structured in a certain way is currently fine for our needs.

We have not had to ever walk a customer through the process.  If we did, I assume it would be painful, but we haven't.

[2022-01-12 15:42] subdavis commented on #351
Yeah, it would be nice to have, but it's Low or no priority.  We should keep the issue though.

[2022-01-12 15:43] waxlamp commented on #365
@subdavis, is this still valid?

If yes, could we fix this in the short term by just calling `draw()` twice, opening a new issue for the performance implications thereof? And also: is this a DIVE bug or a GeoJS bug?

[2022-01-12 15:44] waxlamp commented on #393
@subdavis is this really needed?

[2022-01-12 15:45] subdavis commented on #256
I'd like to have a broad discussion with the team about all the non-software-engineering solutions to this problem before we choose a software solution.  There are half a dozen really popular tools that do this, and I see a potential opportunity to grow the platform through integration.

[2022-01-12 15:46] subdavis commented on #393
No

[2022-01-12 15:46] #393 closed

[2022-01-12 15:46] waxlamp commented on #403
@mattdawkins could you address Brandon's questions [above](https://github.com/Kitware/dive/issues/403#issuecomment-716792202)?

[2022-01-12 15:47] subdavis commented on #365
We currently just call draw twice. Not sure what the status of the bug is in GeoJS.  Not sure if it rises to the level of importance to investigate.

[2022-01-12 15:49] waxlamp commented on #426
A tileserver seems like it would be the classical way to solve this issue. How would that affect the rest of the annotator functionality? i.e., would GeoJS using a tileserver be transparent enough not to affect the implementation of that functionality?

Another way to solve this issue would be to detect the problem and display a suitable error message; in that case, we should file a new feature re

[2022-01-12 15:49] subdavis commented on #283
I'm going to let #1080 eat this issue.  Closing as duplicate.

[2022-01-12 15:49] #283 closed

[2022-01-12 15:51] waxlamp commented on #444
@subdavis could you fill out the description with more detail? I'm not sure this is pickuppable by a dev in its current state.

[2022-01-12 15:57] waxlamp commented on #463
@zachmullen, sorry for this blast from the past, but do you recall any more information on why that user wanted axis labels? The default wisdom is that a chart like this needs to have axis labels. On the other hand, this display isn't a chart in the classical sense; it's more like a flight instrument and as such requires training up on the system to make good use of it anyway (at which point, the

[2022-01-12 15:59] BryonLewis commented on #426
We have talked about implementing a tileserver for other data as well.  It can be done within girder3 fairly easily using the large_image plugin.  With the annotator referencing the large_image endpoints for tileserver images instead of the traditional item/download endpoints for the images/video.  The discussion then moves to if we should support that in the desktop version and how that is done.

[2022-01-12 16:02] zachmullen commented on #463
This would be an optional feature and off by default. Users would be required to provide their own text values, at least as I imagined it.

The app we use this in is designed for novice users rather than power users, so the product manager wanted us to add labels to make the chart understandable for them.

[2022-01-12 16:06] waxlamp commented on #470
@subdavis is this still valid?

[2022-01-12 16:07] waxlamp commented on #495
Closing. Re-open if there's a repro.

[2022-01-12 16:07] #495 closed

[2022-01-12 16:11] waxlamp commented on #530
@mattdawkins could we solve this with a new pipeline that simply concatenates the two pipelines in question? That would be a very general solution to this and other problems like it.

[2022-01-12 16:15] subdavis commented on #530
Are you using "pipeline" in the generic sense or the "VIAME pipeline" sense?  The latter is not possible, because transcoding is not a viame pipeline process, it's handled by dive.

From the user's perspective, no matter how we implement it, there needs to be a new option during ingest to invoke this operation.

[2022-01-12 16:16] waxlamp commented on #539
@mattdawkins, I don't think this issue is actionable as written. Can you provide more motivation for why you need this? I'd like to consider reworking this into the events view as Brandon is suggesting, or else gathering more input from you on what problem you're trying to solve.

[2022-01-12 16:20] waxlamp commented on #577
@subdavis what's the status on this?

[2022-01-12 16:30] waxlamp commented on #600
@subdavis do you have the information you need for this?

[2022-01-12 16:33] waxlamp commented on #607
@BryonLewis, GitHub has discussion boards built-in. Should we activate that and then point users to an option to file a bug, request a feature, or ask a question on the discussion boards?

[2022-01-12 16:34] subdavis commented on #557
I'd sort of like to abstract this to have some "function (pipeline_name: str) -> Capabilities and Requirements Dict"
Right now, that's based on name, but in the future, we can incorporate other out-of-band knowledge.

[2022-01-12 16:39] waxlamp commented on #614
@subdavis the labels include `type: question` but this seems like a pretty straightforward feature request. Can I remove that label?

[2022-01-12 16:42] waxlamp commented on #623
@BryonLewis how much of the import/export and/or sealion work is related to this?

@mattdawkins can you provide some further detail on how this would work? Is it specifically for multi-cam or are there other scenarios where multiple image sequences would be imported in one shot?

[2022-01-12 16:53] waxlamp commented on #625
@mattdawkins, I still need some context and information on this. What's the specific thing you think is wrong, and what would you like to see replace it or be added alongside it?

[2022-01-12 16:59] waxlamp commented on #632
@BryonLewis, this issue doesn't fully describe the bug.

@subdavis, I'm not sure what you meant in your last comment: doesn't need discussion could mean, we should close this issue without fixing, or it's accepted.

Finally, is this the same as #426?

[2022-01-12 17:04] subdavis commented on #625
This can probably be rolled into some kind of "UX improvement for annotation viewer" thing.  I agree with Matt that the button design isn't ideal, but it's not clear how to improve it yet.  Needs discussion.

[2022-01-12 17:45] BryonLewis commented on #607
We had the discussion board active for a time and I think no one used it.  I would recommend closing this issue.

[2022-01-12 17:46] BryonLewis commented on #632
Closing as a duplicate of #426

[2022-01-12 17:46] #632 closed

[2022-01-12 17:51] subdavis commented on #607
I sorta thought you were insterested in using a product like this: https://www.intercom.com/

Not chat exactly, but embedded support and feedback submission

[2022-01-12 18:25] waxlamp commented on #673
@subdavis, is there a plausible way forward on this? I think the DIVE interface is designed with the assumption of a single set of annotations, but perhaps a design review can identify a way to support more than one.

[2022-01-12 19:23] waxlamp commented on #684
@russelldj, is your goal to open, for example, `2007_grabcut` and `2007_watershed` side by side and compare the detections? And to do that, you need to examine the same frame in both sessions always in lockstep?

Unfortunately, without a dedicated comparison mode in which both datasets could be opened in the same view, I don't think we'll be able to accommodate the request of yoking together the f

[2022-01-12 19:25] waxlamp commented on #687
@subdavis, we'll definitely need to give this issue a haircut and then probably spin off one issue per item.

[2022-01-12 19:26] waxlamp commented on #691
Let's break this one up into two independent issues.

[2022-01-12 19:27] waxlamp commented on #693
@mattdawkins could you give us a more precise repro here? Specifically, do you know how you can get the polygon drawing to end prematurely?

[2022-01-12 19:48] waxlamp commented on #700
@mattdawkins, this would essentially let you enter continuous detection mode, then switch the detection type as you create them?

[2022-01-12 19:51] waxlamp commented on #704
@aashish24 as we discuss roadmapping for this project, this issue will be near-top of mind for me.

[2022-01-12 19:52] waxlamp commented on #734
@BryonLewis, we need to spin these out into independent issues.

@subdavis, who was the external inquirer?

[2022-01-12 19:56] waxlamp commented on #739
We need to clean this issue up some--there are separate things mentioned which should be spun out into their own issues, and we could use some discussion on the frame skip feature, which seems like a high-value/low-effort feature.

My thought is, we could add "fast forward stop" type icons to handle a multi-frame skip action, and bind that to the capital letter of whatever is bound to the frame sk

[2022-01-12 19:57] waxlamp commented on #748
@aashish24 what's the exact thing you're looking for here? For instance, export a bunch of datasets from a DIVE desktop instance, and import them wholesale on another?

[2022-01-12 20:03] waxlamp commented on #759
@subdavis still valid?

[2022-01-12 20:04] waxlamp commented on #767
@BryonLewis what's our situation regarding video or image formats? I know we have issues in flight about TIFF files, but do you see a general path forward for ingesting other formats that ffmpeg or other tools are able to handle?

[2022-01-12 20:08] BryonLewis commented on #767
ffmpeg I don't think is going to be able to transfer these into a usable format.  We may have to use VIAME/KWIVER, but the bigger question at that point is if we should support these formats for use with something like a tileserver.  Doing a conversion into a single large image isn't going to give the best user experience with our tool.

[2022-01-12 20:08] waxlamp commented on #763
This is true, but I think it's supposed to be this way. I am able to open a directory in the file selector dialog, then multiselect the images I want to upload.

I will close this for now, but @mattdawkins if you disagree, please re-open with a description of what you want to see instead.

[2022-01-12 20:08] #763 closed

[2022-01-12 20:10] waxlamp commented on #790
@subdavis, is this solvable in spirit by opening the Girder interface and doing the data moving there?

If so, that's a way to get this done. But I agree that repeating core Girder3 features in the DIVE interface is out of scope.

[2022-01-12 20:10] #790 closed

[2022-01-12 20:13] waxlamp commented on #814
@subdavis can you give an update on this? Otherwise we can definitely discuss at our next planning meeting.

[2022-01-12 20:37] waxlamp commented on #841
Unfortunately I don't think it's possible to "upload a folder" from the browser--multiselect for individual files is as far as we can go. If I'm wrong about this, someone can correct me (and re-open this issue).

[2022-01-12 20:37] #841 closed

[2022-01-12 20:38] waxlamp commented on #845
@mattdawkins could you weigh in on this please?

[2022-01-12 20:40] waxlamp commented on #850
Probably needs a design doc.

[2022-01-12 20:41] waxlamp commented on #681
I believe we need to discuss the future of the summary page in general.

[2022-01-12 20:45] waxlamp commented on #853
@subdavis, these two items still feel legit. If they are, could you file new issues for them, and then close this one? Otherwise, closing this issue seems like the right thing at the moment.

[2022-01-12 21:13] waxlamp commented on #854
Interesting, @mattbrown11. In the current issue, are you specifically looking for Dextr support inside of DIVE?

[2022-01-12 21:20] waxlamp commented on #907
@subdavis, how serious is this bug? How much does it impact users at the moment? And how hard to fix?

[2022-01-12 21:20] waxlamp commented on #925
@BryonLewis how well is this solved by the zip export feature recently added?

[2022-01-12 21:27] waxlamp commented on #926
@mattdawkins, can you provide a bit more detail on what you want to see here? An example would be helpful.

[2022-01-12 21:34] waxlamp commented on #931
@collinsr fwiw, you can rename and move data around by astral projecting yourself into the Girder instance. Take your VIAME URL and insert `girder/` just before the `#`. There you can use Girder directly to rename things, etc.

The issue report is valid, but just wanted to offer this workaround explicitly.

[2022-01-12 21:37] waxlamp commented on #936
@subdavis, I'm a bit confused by this: your example link implies we can do this already? Or is the issue asking to cause the eval vis image to show up separately in the data browser (with its own `launch annotator` chip)?

[2022-01-12 21:40] #955 closed

[2022-01-12 21:41] BryonCLewis commented on #925
The recent zip feature was an **import** feature to take the existing dataset exports and re-import them into the server as well as zips that contain multiple folders or flat lists of images.  So the Import system should work with a similar style structure that Matt has listed.

We would have to change how de do exports to be able to support downloading multiple datasets into a single zip.  This I

[2022-01-12 21:43] waxlamp commented on #959
According to this [stack overflow](https://stackoverflow.com/a/27034438/1886928) answer, this should be possible to do in a Gordian knot kind of way.

[2022-01-12 21:49] waxlamp commented on #980
@mattdawkins, could you provide steps to reproduce this?

[2022-01-12 21:49] waxlamp commented on #983
@BryonLewis, what is the next action here?

[2022-01-12 21:55] subdavis commented on #936
Yes, this is a feature request to add code to mark the output eval set as a dataset so the button appears.

[2022-01-12 21:56] subdavis commented on #907
* Medium serious.
* It could really confuse anyone who manages to launch more than one annotator.  Which we know has happened.
* It's probably quite a lot of effort to fix.  Not "hard", but 4+ hours at a minimum.

[2022-01-12 21:58] subdavis commented on #853
I've changed the title of this issue to make the documentation changes quoted above.  Those will close this issue.

[2022-01-12 22:01] subdavis commented on #814
I don't know if this should still be an issue.  This seems like it might be bad UX.

New detection button will change the selection context.  The attributes panel depends on the selection context.   There are just a lot of UX issues with the viewer, and this feels like a hack that might make things more confusing rather than a solution.

[2022-01-12 22:02] subdavis commented on #759
Maybe.  Nobody has mentioned this in a while.

[2022-01-12 22:03] subdavis commented on #734
Playback speed was done in #746

[2022-01-12 22:04] BryonCLewis commented on #983
On windows we check for nvidia-smi to be installed to know that we have a compatible GPU that can be used with VIAME.

The code that checks it is here: https://github.com/Kitware/dive/blob/main/client/platform/desktop/backend/native/windows.ts#L131-L191
Which will return an error if there is an issue or should exit properly with relevant data if it exists.

I think the next step would be to see if

[2022-01-12 22:05] waxlamp commented on #999
It seems like maybe the order and manner in which pipelines are displayed to the user should be explicitly configurable. Something universal like "alphabetical sort" is suitable, but one-off schemes where everything with "default" in the name appears first seems trickier to include as default behavior.

@mattdawkins, as a workaround, can you rename the default pipelines to start with `[default]` s

[2022-01-12 22:06] waxlamp commented on #994
@subdavis, is there anything blocking us from implementing checkbox-style mass delete on desktop?

[2022-01-12 22:07] waxlamp commented on #1009
@mattdawkins, @subdavis: can this be closed?

[2022-01-12 22:11] waxlamp commented on #1038
We've adopted Poetry.

[2022-01-12 22:11] #1038 closed

[2022-01-12 22:15] subdavis commented on #994
Checkbox-style mass delete would not resolve this issue.

The ask is to also delete media from outside the DIVE project directory, which I'm very wary of doing.

[2022-01-12 22:19] waxlamp commented on #1061
The default FPS should be closer to that of typical video files right?

[2022-01-12 22:22] subdavis commented on #274
RE: Staging server on prod hardware: That's a dumb idea and August Brandon was wrong.
RE: Out-of-sync client: I'm still concerned about this, but not _that_ much.  We have pydantic for most json validation.  Having a netlify preview of the client pointed at prod seems reasonable and safe to me.

This is still a valid issue, but probably low priority.

[2022-01-12 22:24] subdavis commented on #1116
See my comment on #274 I was wrong about staging.  Unless another machine becomes available, I don't think we can do this.

[2022-01-12 22:25] waxlamp commented on #1076
I'd like to make sure we don't try to do too much in the course of solving this issue. Some kind of behavioral spec before you jump in would be useful, to constrain what we offer here. Put another way, I don't think we should attempt to cover every corner case, etc. We should keep a bit of the ol' UNIX philosophy in our back pocket, for example, and bail out if a byzantine problem begins to develo

[2022-01-12 22:26] waxlamp commented on #1077
This issue is at odds with, e.g., #1065, #681, and maybe others. If we're adopting this approach, let's close the issues that are made moot by it.

[2022-01-12 22:29] waxlamp commented on #1080
@subdavis, is this not the same as #1077? Or is "report" different from "summary stats"?

[2022-01-12 22:30] waxlamp commented on #1082
Do we know what caused this?

[2022-01-12 22:30] subdavis commented on #1077
This issue should be absorbed by #1080, since this is a hasty conclusion about the findings of an investigation we haven't done yet.

[2022-01-12 22:30] #1077 closed

[2022-01-12 22:32] subdavis commented on #1082
No, this issue has not been triaged.

[2022-01-12 22:39] waxlamp commented on #1102
@mattdawkins do you have an example of this? I'm having trouble picturing what the bug is and what the correct behavior is that you're looking for.

[2022-01-12 22:41] BryonCLewis commented on #1061
The basics are it needs to >= 1:
Other options are:
- We remove Video FPS from the importing tool when the data being imported are image sequences
- We allow people to change the FPS after upload through some new interface (this could cause problems based on stuff ran)
- On the server side when it is an image sequence and it is set to (-1) the number indicating it should be at the video FPS when i

[2022-01-12 22:46] waxlamp commented on #1103
I'm also not able to reproduce. @subdavis, is it possible your laptop was in a strange state due to having touched the screen or something, and that precipitated the buggy behavior? That would still be a (gnarly) bug but I think we'd have to close this until we had a reliable repro for it right?

[2022-01-12 22:57] waxlamp commented on #1110
I think it would be reasonable to gray out or outright remove missing items if they're not on disk. The trouble is when DIVE should attempt to figure out that there was a change. We could put in some kind of inotify support or something but it would be a pretty complex change.

@BryonLewis, is there something small we can do to improve UX around this problem?

[2022-01-12 23:00] waxlamp commented on #1114
@subdavis, by "trails" you mean the head/tail data for the last N frames, is that right?

Does the Mongo storage make this easier? More generally, what makes it hard to generate the trails for a given frame?

[2022-01-12 23:02] waxlamp commented on #1115
@mattdawkins, could you give an example of what you'd like to be able to do?

[2022-01-12 23:06] waxlamp commented on #1108
@subdavis, @BryonLewis, @marySalvi: it would be good to discuss how we can support different frontend workflow modes in general--perhaps yielding a methodology for supporting a wider array of annotation styles.

[2022-01-12 23:18] waxlamp commented on #78
I vote close. If complaints arise we can re-open it, or just file a new issue around the particulars at that time.

[2022-01-12 23:18] #78 closed

[2022-01-12 23:23] waxlamp commented on #331
@mattdawkins, which of these are you looking for?

[2022-01-12 23:24] #309 closed

[2022-01-12 23:28] waxlamp commented on #365
I'd consider this issue closed. Perhaps we should make sure there's a comment explaining why we call `draw()` twice, and perhaps we should ask David Manthey for his insight. But as far as actionability here, I think we're done. Re-open if I'm wrong.

[2022-01-12 23:28] #365 closed

[2022-01-12 23:31] waxlamp commented on #463
Thanks for the clarification, Zach! Do you have a project and/or an engineer that could work on this?

[2022-01-12 23:33] waxlamp commented on #530
I meant "VIAME pipeline", with the hope that we could solve this completely out of band. But since that's not possible, we can look at a way of doing it in software.

[2022-01-12 23:37] waxlamp commented on #614
If this feature meets a legitimate need for DIVE users, and especially if that gives us a unique edge, then I think we should do it.

[2022-01-12 23:38] waxlamp commented on #607
This obviously needs further discussion.

[2022-01-12 23:44] waxlamp commented on #814
I'll leave the issue open so we can discuss what the right UX for this is, but it seems reasonable to look for ways to accelerate an oft-used workflow.

[2022-01-12 23:48] waxlamp commented on #994
I would agree with your wariness. Something halfway out-of-band might be good: remove the "deleted" items from DIVE's awareness, and generate a report of all filenames and give to the user so they can do an `xargs | rm` or equivalent by their own hand.

[2022-01-12 23:52] waxlamp commented on #1116
Let's discuss the ROI on actually doing this, and if it's sufficiently high we can engage with sysadmin for a second machine.

[2022-01-12 23:54] waxlamp commented on #1110
I like this approach.

[2022-01-13 01:50] mattbrown11 commented on #854
Doesn't need to specifically be Dextr. I investigated another state of the art tool that seemed to also work well: https://github.com/saic-vul/ritm_interactive_segmentation

[2022-01-13 02:33] subdavis commented on #1103
I can indeed reproduce some of this on a different touchscreen laptop (I have 2).

State transitions seem to get confused when touch events are involved.  I think GeoJS probably either emits different events on certain touch operations we aren't handling, so all the parenthesis aren't being balanced, in a manner of speaking.

It's not a huge deal, but it's an issue.

[2022-01-13 02:38] subdavis commented on #1114
No, this has nothing to do with persistence.  This is a client side feature.

It's hard because it makes the runtime complexity bigger.  to render a frame, we've put a huge amount of effort into making lookup-geometry-by-frame-number a very fast operation.  There's a red/black tree and everything.   The result is that, even with hundreds of tracks on screen, each track only does one lookup to rend

[2022-01-13 02:41] subdavis commented on #1110
I'm concerned about running this on launch.  It's a disk crawl.  Disk may be filled with lots of data or otherwise very low I/O such as a network mount.  There's no way to know how long such an operation will take.

[2022-01-13 02:49] subdavis commented on #1102
I can try and explain this:

* Imagine you  have "fish" and "rocks".
* You have a track with 60% fish confidence and 20% rock confidence.
* Your "fish" threshold filter is at 50% and your rock confidence filter is at 10%.
* So your track appears like a fish -- its confidence is higher.
* Then you disable all fish using the type checkbox.
* Now, your track doesn't disappear, it turns into the next

[2022-01-13 11:50] BryonLewis commented on #1110
I thought there was a reason we didn't check it on launch.  So maybe we provide the a button on failure to delete/launch because of missing data.  Then we provide a mechanism for the user to exit out of the process if it is taking a significant amount of time?

[2022-01-13 15:16] mattdawkins commented on #1115
Whenever a user sets attributes, save them between different video folders so they don't need to re-enter them is my ideal. They should be global by default on desktop not tied to a specific video. That way there's no user activity necessary to re-enter or re-import attributes.

If that is too difficult given the state of girder, then at least the ability to import/export or more readily apply the

[2022-01-13 19:47] BryonLewis commented on #1102
I think really the hardest part is how to succinctly convey to the user that "X" configuration toggle changes the behavior in the way that Brandon mentioned.

[2022-01-13 22:55] waxlamp commented on #1102
Thanks for the example, Brandon. This makes sense to me now.

Conceptually, this would behave as though someone did a non-linear operation on the detection confidences, setting all but the highest to zero (or, alternatively, removing all but the highest). I can see why this is a reasonable thing to want to see, but I agree with Bryon about carefully presenting the option to the user.

[2022-01-14 15:43] mattdawkins opened #1121 "Make sure default training config is train_detector_default not train_darknet_yolo"
Half of the time the user just selects the default, darknet_yolo should not be it

[2022-01-14 15:45] subdavis commented on #1121
I don't understand this issue.   We don't control what defaults do.  That's in the pipeline file from VIAME.

[2022-01-14 15:46] mattdawkins opened #1122 "Minor - strip .viame_csv.conf from training config dropdown names"
User doesn't need to know about that and it's a repeated string on all configs

[2022-01-14 15:46] subdavis commented on #1121
![Screenshot from 2022-01-14 10-46-10](https://user-images.githubusercontent.com/4214172/149543812-52ce80c6-ebac-459f-9c99-4778fd27b92e.png)

The default is currently `train_detector_default`

[2022-01-14 15:47] mattdawkins commented on #1121
It's not on desktop which also has a YOLO config first, presumably because da comes before de in the alphabet is shown first

[2022-01-14 16:50] mattdawkins opened #1123 "Ignore train pipelines with .continue. in their name"
**Is your feature request related to a problem? If so, Please describe.**

.continue. indicates continuing to train an existing model, which the hooks aren't in DIVE yet; eventually we'll need some way to do this better but that's a larger feature request (ability to select a model to fine tune from and/or continue training from).

**Describe the solution you'd like**

ignore pipelines with .conti

[2022-01-14 18:23] mattdawkins commented on #1110
Another tidbit of info, but when I press sync, the entries disappear from the current running instance of DIVE. However, when I reboot, they're still in the list and still undeletable.

[2022-01-14 18:25] subdavis commented on #1110
How many dive desktop instances do you have open?  You may be hitting #907

[2022-01-14 20:16] mattdawkins opened #1124 "Pad timestamps in output file formats (e.g. viame_csv) when necessary"
**Is your feature request related to a problem? If so, Please describe.**
DIVE is currently outputting some timestamps that look like   0:1:0.000, ideally the first and second numbers should be zero padded with at least one digit so it looks like 00:01:0.000 for consistency with other apps

**Describe the solution you'd like**
Pad timestamps in first two numbers to 2 digits when necessary

[2022-01-14 22:09] russelldj commented on #1108
Based on my initial experience performing this task in CVAT, it seems that a generic polygon annotator is largely sufficient. The one modification that is very useful is an ordering property. That way if you have two labels that overlap, the label is chosen inteligently. CVAT defaults to having the most recently-created annotation be chosen, i.e. it is "in front" of other annotations. Additionally

[2022-01-14 22:18] russelldj commented on #684
@waxlamp, yes, what you describe was the premise of my request.

I'm no longer at Kitware, so I'm a bit out of the loop here. It looks the frame number is now displayed as @subdavis suggested, which fixes a large portion of my issue since it makes scrubbing to a particular frame much easier. While not a huge concern, it would be nice for that display to accept entries so you could quickly seek to

[2022-01-14 23:09] waxlamp commented on #684
Thanks for the response, @russelldj. I agree the comparison mode would be a nice feature. In the meantime, I'll update this issue to add a combobox-style input to set the frame number explicitly.

[2022-01-17 15:48] mattdawkins commented on #1110
I think I only had 1 that I was using at once, though not 100%.

As an alternative to potential large load issues, you wouldn't necessarily need to check every image file, just that the high level folders are there at least, or the first image file in each sequence. 99% of the time that would do it, at least for my use cases and that wouldn't be slow cause it's just a O(1) check for each video.

[2022-01-17 17:05] zuzubak opened #1125 "Add option to super-impose grid on images"
**Is your feature request related to a problem? If so, Please describe.**
Searching for small targets in large images can be difficult without a grid framework to systematize the search process.

**Describe the solution you'd like**
A "show grid" checkbox which, when activated, shows thin grey lines superimposed over the image. A size slider might be nice too!

[2022-01-17 17:11] zuzubak opened #1126 "Lasso tool to select polygon points for deletion"
**Is your feature request related to a problem? If so, Please describe.**
When editing complex polygons, having to manually select and click "delete point" for each unwanted point in an unwanted portion of the polygon can be prohibitively time-consuming.

**Describe the solution you'd like**
A lasso tool that could be the cursor's default state when editing a specific polygon. When the user select

[2022-01-17 18:20] BryonLewis commented on #1109
New build of VIAME fixes this issue by including libx264 codec in ffmpeg.

[2022-01-17 18:20] #1109 closed

[2022-01-18 15:07] collinsr commented on #931
Aha, I did not know that... thanks!

[2022-01-18 15:22] subdavis commented on #1125
Thanks for the feature request.  I assume this grid is stuck to the image rather than the window, is that correct?  A grid box is always over the same pixels, and moves when you drag around?

[2022-01-18 16:56] collinsr opened #1127 "Load multiple datasets into a single view"
A typical DIVA use-case is to view multiple datasets on a single video, e.g.
- the ground-truth with a "_gt" suffix
- results from team A with a "_teamA" suffix
- results from team B with a "_teamB" suffix
...and so forth.

These results are generated independently, with possibly overlapping track IDs, and identical label domains (i.e. without the suffices.)

**Describe the solution you'd like**
T

[2022-01-18 18:03] subdavis commented on #1127
Implementation is related to #942 -- solving one will probably solve the other.

[2022-01-18 18:36] subdavis commented on #1115
@BryonLewis I think this should be linked to be closed by #1118 right?

[2022-01-18 18:40] subdavis commented on #1076
Isn't this done by #1062 @BryonLewis ?

[2022-01-18 20:16] BryonLewis commented on #1093
Spent another 2 hours and I think I have the `useMediaController` modified to support multiple cameras.
Next up is going to be taking the `ControlsContainer` moving it inside of the `AnnotationWrapper` and modifying the mediaController so it is passed as a computed property to the Controls Container.  Where the property will be a computed collection of all the functions of each camera.  Meaning `s

[2022-01-18 20:21] BryonLewis commented on #1076
Yes, thanks to the update you made to that PR, it was implemented on web.  This can be marked as closed.

[2022-01-18 20:21] #1076 closed

[2022-01-19 15:10] BryonLewis commented on #1094
I have technically started working on this already because it flowed naturally into what I was testing.

Currently I have modified the Vue Templates to create an `AnnotationWrapper.vue` which allows for multiple `ImmageAnnotators.vue` or multiple `VideoAnnotators.vue` to be loaded at once.

To get this working though `useMediaController` needed to be modified to support multiple cameras which requ

[2022-01-19 16:00] zuzubak commented on #1125
Yes exactly! :)

[2022-01-19 19:11] BryonLewis commented on #56
@mattdawkins - pining to see if this is still relevant.  We've already remove the .pipe extension do we still want the ordering like that?  (only asking because I'm working on some other small related tasks).

[2022-01-19 19:34] BryonLewis commented on #1094
Looking at this a bit more the `ControlsContainer` has a sub component called `Controls` which also injects the media controller to grab a few other items like `lockedCamera` and `resetZoom` so these need to be modified as well.

[2022-01-19 21:05] BryonLewis commented on #1094
Looking at it, I may have to do a thing where I inject(aggregateMediaController) and that is used for the reactivity purposes of communicating to the controllers properly.

[2022-01-20 17:12] #1056 closed

[2022-01-20 18:51] #306 closed

[2022-01-20 19:16] BryonLewis commented on #1094
Next Up:

- Handle CSS/Sizing issues with the GeoViewer
- Possibly Add a delimited between them like a border
- Handle the existing Dropdown tool removal or if it should be a toggle between different modes?
   - Meaning when there is multicam you have the option of viewing a single camera or switching it into a multiviewer mode?
- Camera Selection based on selecting a track within the window proba

[2022-01-20 19:17] BryonLewis commented on #1093
I have some multiple displays setup currently but not working perfectly.  I think I can work a bit more on the track store and storing different cameras in sub trackMaps as needed.

[2022-01-21 15:13] BryonLewis commented on #56
Going to close.  There is only currently one generic pipeline and putting that single item at the top and sorting the rest alphabetically seems like it could be confusing.

[2022-01-21 15:13] #56 closed

[2022-01-24 20:48] #1122 closed

[2022-01-24 20:48] #1123 closed

[2022-01-24 20:48] #1121 closed

[2022-01-25 14:36] BryonLewis commented on #1093
Modified the useTrackStore to have a function for `addCamera` which creates an `camTrackMap` which is used by the `LayerManager.vue` to draw individual cameras.  It could still use the main filter to get the parent data and then check the camera map to make sure it is in there.

Next Up:

- [ ] Saving/Modification of specific cameras (this might be able to be done by automatically change the Camer

[2022-01-25 18:45] #1124 closed

[2022-01-25 20:21] BryonLewis commented on #1093
First thing I think I will need a selectedCamera property that needs to be similar to the selectedTrack.  When adding Tracks, deleting or editing tracks the selectedCamera needs to be checked to make sure we are doing modifications to the proper track.

`useSave` will need to be passed all of the `datasetIds` instead of a single one or the root datasetId and the individual camera names.  It needs

[2022-01-25 21:52] subdavis commented on #733
@mattdawkins  for this CSV image ordering alignment issue, there are really only 2 possible approaches:

1. Expect that this will only happen on detection datasets with no temporal relationship.  Detections only, no tracks.  Just reorder the annotations based on our expected image ordering
2. Require an image-list file to be uploaded alongside annotations.  There's no way to guarantee that a given

[2022-01-26 02:36] mattdawkins commented on #733
I don't see this as strictly a VIEW issue, because someone can still generate annotations outside of any interface (DIVE, VIEW) via external means, and want to import them or train models on them in whatever order. Some other potential fringe cases are users wanting to extend sequences themselves to an existing sequence (add more images either before or after alphabetically), append 2 different cs

[2022-01-26 16:51] subdavis opened #1138 "Bulk import transcoding failures."
**Describe the bug**
Untriaged bug in prod

**TODO To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
4. See error

**Related data**
* https://viame.kitware.com/girder#job/61f15e3be5fc4ec3c81517df

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browse

[2022-01-26 17:27] BryonLewis commented on #1138
Best bet is to make the zip documentation referenced when uploading a zip file.  Error out properly if the media file doesn't contain media (video or images) and in the error provide a link to the documentation for the zip files.

[2022-01-27 17:39] BryonLewis commented on #1138
When importing if it detects a zip file in pending uploads it will pop open a link directly to the zip file formats:
![image](https://user-images.githubusercontent.com/61746913/151412864-beb4fdae-3f50-4564-a7bf-e0d95ba0e0fb.png)

Then in the extraction also include a reference to the Zip file format as well:
![image](https://user-images.githubusercontent.com/61746913/151413529-af5e5394-3479-4353-a

[2022-01-31 15:59] #1138 closed

[2022-02-01 20:20] BryonLewis commented on #697
just a quick test-sample of what could potentially be in place to indicate creation modes as well as all the other modes that a user could be in.  This isn't perfect yet (it doesn't update after creation, but I think the idea is there).  This is where an escape button could be used to cancel creation mode or cancel the current editing mode as well.

https://user-images.githubusercontent.com/617469

[2022-02-01 20:57] subdavis commented on #1065
Summary feature was removed in the mongo track thing.

[2022-02-01 20:57] #1065 closed

[2022-02-01 21:03] BryonLewis commented on #991
might want to take a look at this test branch I did when messing around with the job notification update PR. https://github.com/Kitware/dive/tree/pipeline-job-running

[2022-02-01 21:17] waxlamp opened #1144 "Set up discourse for DIVE"

[2022-02-01 22:41] mattdawkins opened #1146 "Minor and debatable: when a detection is selected, also highlight it's type"
**Is your feature request related to a problem? If so, Please describe.**
On a recent dataset, I had problems finding the type of a detection in the type filter panel to change it's color, see below.

**Describe the solution you'd like**
Also highlight a detection's type, only when selected or possibly when editing, to make it more easy to find the type

![Screenshot from 2022-02-01 17-40-49](http

[2022-02-02 14:17] subdavis commented on #1146
This is an interesting idea.  Thanks for explaining the motivation.

I'm not sure if there would be unintended consequences, but I like the idea and think we should try it.

[2022-02-02 20:21] mattdawkins commented on #999
We want things to be sorted by the type of training they do, which right now alphabetical will do that fine, with the one exception being train_detector_default should always be the default first option in the list, as some people just ignore the configs altogether and that's should be the most commonly used pipe. As a step forward but much more minor, the 'defaults' would be listed at the top of

[2022-02-03 15:04] subdavis opened #1148 "Update documentation Feb 2022"
Documentation and screenshots are out of date and missing info about newer features.

* confidence sliders
* tooltip visibility toggle
* track trails
* lots of the UI has changed.
* lock camera.
* deconflict quick start interpolation and uI guide interpolation pages, combine.
* probably lots more.

Update screenshots, review text, update anything that is outdated.

[2022-02-03 15:14] #1114 closed

[2022-02-03 15:17] subdavis opened #1150 "Set up dependabot single PR grouping"
Follow directions [in this blog post](https://www.notion.so/Single-Dependabot-Pull-Requests-a15b75c25352425993ef728970b61780)

[2022-02-03 23:06] collinsr commented on #931
Just a followup; I tried this tonight and it didn't work -- I went behind the Girder curtain and looked for a rename option. I didn't find one, so I tried creating a new folder and moving the contents of old-folder to new-folder. On the viame interface, I saw the new-folder dataset but no "launch annotator" button.

[2022-02-03 23:13] subdavis commented on #931
The rename option is under this menu.  Click "edit folder" and change its name.

![Screenshot from 2022-02-03 18-10-49](https://user-images.githubusercontent.com/4214172/152444831-5e6f2756-c623-4027-ae37-d1f656cb2cac.png)

It's best to avoid moving or copying things behind the curtain to try and construct a dataset without the regular interface.

[2022-02-04 01:02] collinsr commented on #931
Aha! I obviously didn't look there...

Yes, no surprise that moving things around behind the curtain wouldn't work.

Thanks!

[2022-02-04 13:33] BryonLewis commented on #1115
Closing based on #1118, Allows importing/exporting configuration files (styling, attributes) for desktop and web and interoperability between them.

[2022-02-04 13:33] #1115 closed

[2022-02-04 18:27] #812 closed

[2022-02-04 18:27] #925 closed

[2022-02-04 18:38] subdavis commented on #812
This feature request has been completed and will be deployed Thursday Feb 10 at 2AM est.

[2022-02-04 19:37] #733 closed

[2022-02-07 02:34] mattdawkins opened #1152 "Attributes produced by pipelines no longer show up in last few versions"
**Describe the bug**
Ran the stereo pipeline (which produces a track attribute "length") and the attributes don't show up in the interface. If I make an attribute 'length' on a given detector in the image sequence, they then show up for all other detections

**To Reproduce**
Run stereo example (load camtrawl imagery data in VIAME examples/example_imagery folder, run only pipeline)

[2022-02-07 18:55] BryonLewis commented on #991
I feel as if we need to properly implement ReadOnly Mode where it disables items in the interface and explains why.  Disabling stuff like deleting/adding new tracks.
I think that as a consequence of that we may need a new wrapper for buttons/icons that enable a disable state while also including a tooltip reason as to why items are disabled.

[2022-02-07 21:37] #993 closed

[2022-02-08 16:32] BryonLewis commented on #991
That's what I did for the above demo, it's just that once a button becomes disabled it removes tooltips because the v-on doesn't trigger properly.  So you have a button disabled with no indication as to why the button is disabled.  I would have to wrap the button to make it styled as disabled.  I could also wrap each button in a span tag so the v-on still triggers to display the tooltip but the bu

[2022-02-08 16:35] waxlamp commented on #991
I guess I forgot to say the rest of my thought: a red or yellow banner across the top of the viewport with information like "you are in read-only mode" followed by an indication of how to get out of that mode might cover all cases. Then you wouldn't need to add redundant info to every single disabled control, and there would be a central way to understand what's happening. (I'm definitely followin

[2022-02-08 16:37] subdavis commented on #991
I like it.  I think the only thing I'd add is a link directly to the pipeline logs (in girder) from the "A pipeline is running" dialog.

There is one other issue:  Cancelling.

Pipelines can get stuck in the cancelling state because VIAME doesn't respond to signals, so the pipeline will continue to run to completion, then the whole job will fail because of an invalid state transition (Can't move f

[2022-02-08 16:50] subdavis opened #1156 "Track type styling logic bug"
**Describe the bug**
The track bounding box and track trail color are different.  The trail is wrong, it's style computation probably has a bug somewhere.

![Screenshot 2022-02-08 114612](https://user-images.githubusercontent.com/4214172/153034837-6080d488-8971-47ea-808e-2b5cebd8cc33.png)

**Related data**
Run Mouss Deep7 V3 on https://viame.kitware.com/#/viewer/62029f0ac5f408a3df374c1c

[2022-02-09 15:13] BryonLewis commented on #991
So I added in a Read Only Mode Display with a tooltip explaining that it is read-only mode.
I also added in a View Running Job which will link to the Jobs page on desktop and will open the girder/#job/{jobID} page on the web version.
Also fixed the overflow issues with long dataset names
![image](https://user-images.githubusercontent.com/61746913/153230051-3e72b2c2-db1c-4ec8-aa0f-42d931d94f12.png)

[2022-02-09 15:56] waxlamp commented on #991
This looks really nice!

[2022-02-09 15:56] mattdawkins opened #1158 "Re-add Statistics Panel in Web Version"
**Is your feature request related to a problem? If so, Please describe.**

The statistics panel is useful for:

1) People to find if a category of interest that they're interested in is already in the system somewhere
1b) If so where it is
2) Finding out total counts of annotation per different categories
3) Useful for advertisement purposes

**Describe the solution you'd like**

I'd imagine there

[2022-02-09 16:15] waxlamp commented on #991
@faiza-a, could you give some quick feedback on Bryon's design here? Just a sanity check for any obvious improvements we could make (with a more comprehensive review of the full UI happening more slowly, as it already is). Thanks!

[2022-02-09 16:58] waxlamp commented on #1080
ping @subdavis ^^^

[2022-02-09 17:14] mattdawkins commented on #623
A directory of videos is probably the most common use case, so just single cam, and that's probably a little more important first (and this issue could be broken in 2 if needed) - but multi-camera/stereo bulk import will also come up.

An example for multi-cam is available here:

//videonas/projects/other/noaa/multi-cam-import-example

[2022-02-09 17:21] BryonLewis commented on #623
The current scoping of the sea lion work didn't have a plan for automatically scanning and assigning camera folders.  It uses the existing system of adding cameras and manually choosing the folder to represent each camera.

[2022-02-09 18:48] collinsr opened #1159 "alternate strategies for compressing filenames in upload dialog"
**Is your feature request related to a problem? If so, Please describe.**
The upload dialog sometimes chooses to hide parts of the filename which can make it difficult to check that I'm associating the right annotations with the video.

**Describe the solution you'd like**
Some way of seeing the full pathname / basename: perhaps displaying it in a smaller font size (similar to the size used for th

[2022-02-09 19:29] BryonLewis commented on #1082
Looks like it reproducible using this dataset: https://viame.kitware.com/#/viewer/5f52a38d683ae84c2a4f58de

Simple need to wait for the track data to load (I.E. it finishes it's 100% progress bar) then before the images fully loads you click in the Timeline Chart or the video/image-sequence scrubber/progress bar.

Looks like it is calling `drawImage(img)` before the `local.quadFeature.data` is ava

[2022-02-09 19:40] BryonLewis commented on #1082
was slightly wrong, need to disabling `seek()` before `data.ready` is true and also place a guard on `drawImage()` where it will return quickly if `data.ready` is false.

[2022-02-09 19:52] sentry-io[bot] opened #1161 "TypeError: Cannot read properties of undefined (reading 'value')"
Sentry Issue: [VIAME-WEB-CLIENT-EP](https://sentry.io/organizations/kitware-data/issues/3001590960/?referrer=github_integration)

[code]

[2022-02-09 19:53] BryonLewis commented on #1161
This is an issue that can be replicated by Loading a dataset with a large number of tracks and by cycling/selecting tracks before the completion of the loading.  So by either clicking on tracks in the track list before the progress indicator hits 100% or by using Up/Down Arrow keys to select different tracks.

[2022-02-10 01:07] faiza-a commented on #991
I think it's looking good and serving the purpose.
Adding an info icon would make it more prominent for user that the 'chip' is hoverable.

![Group 843 (1)](https://user-images.githubusercontent.com/61198087/153316173-26b3b49c-8c80-48da-bb3e-41409f76fb9a.png)

May also use the horizontal space to make more information visible. (but this could also look more crowded)

![Group 844 (2)](https://user-

[2022-02-10 15:40] waxlamp commented on #991
@BryonLewis, I think the info icon addition is a good idea--do you agree?

Displaying more info using the horizontal space is generally a nice idea but I think we need to better understand the effect of doing so on the UI, so let's hold off on that idea for now.

[2022-02-10 15:51] BryonLewis commented on #991
Yup, I had a `?` icon in there at one point and it didn't feel right.  The info icon looks much better.  I'll ad it in.

[2022-02-11 14:43] #838 closed

[2022-02-11 14:46] waxlamp opened #1163 "Update docs to point people to discourse instead of email list"
Discourse topic section: https://discourse.kitware.com/c/viame-dive/17

[2022-02-11 14:47] waxlamp commented on #1144
Discourse is set up: https://discourse.kitware.com/c/viame-dive/17.

Still need to update the docs: #1163

[2022-02-11 20:41] mattdawkins opened #1164 "Slider bar on jobs panel cuts off status on right and looks a little funky"
**Describe the bug**
The slider bar at the bottom of the jobs panel is very skinny (some people might not know it's a slider) and it's presence leads to cutting off the job status items on the right sometimes. I think it use to never have a slider but could be mis-remembering.

![bar](https://user-images.githubusercontent.com/2353972/153667146-e533992a-83cc-4c9f-b1e3-7a9998b298b3.png)

**Expected

[2022-02-11 20:41] mattdawkins commented on #1164
Pretty minor issue FWIW

[2022-02-11 21:42] waxlamp commented on #1164
I agree that the scroll bar is hard to see and use when there's horizontal overflow. Thanks for reporting it.

[2022-02-13 19:27] mattdawkins opened #1166 "Annotation Sequence Messed Up"
**Is your feature request related to a problem? If so, Please describe.**
https://viame.kitware.com/#/viewer/5e4ebca278ed364cd0f5d828

**Describe the solution you'd like**
Make not bad

**Describe alternatives you've considered**
Likely just an incorrect frame rate in the annotation file, though I want to make sure nothing deeper (DIVE<=>KWIVER extraction alignment)

[2022-02-13 20:46] mattdawkins opened #1167 "A couple of tracking pipelines are failing on videos"
**Describe the bug**
A couple pipelines are failing on videos after some recent csv loader modifications

I haven't investigated it in detail, but I think it's likely a default value that some pipelines write out in the image field, "input_list.txt" in all likelihood. Probably either a pipeline config mod to make sure timestamps are printed in that column, or dive just ignoring col 2 values that e

[2022-02-13 20:53] mattdawkins opened #1168 "If head tail points are made within a bounding box, do not adjust the bounding box size"
**Describe the bug**
If head tail points are made within a detection with an existing bounding box, do not adjust the bounding box size

**To Reproduce**
Make a box, make head/tail points within the box, sometimes the boxes get expanded or modified

**Related data**
Any

**Expected behavior**
Don't modify box size if points are created within the existing box's boundaries, 95% of time user is just

[2022-02-13 23:09] mattdawkins opened #1169 "In certain minimized views, the save button disappears (minor)"
**Describe the bug**
In certain minimized views, the save button disappears, e.g.:

![bug-example](https://user-images.githubusercontent.com/2353972/153779354-c1974ccd-3b68-46f0-8820-c755e1ca39d2.png)

**Expected behavior**
Ideally help or something else would be removed

[2022-02-14 14:23] subdavis commented on #1080
From #1077

This is for both.  What summaries do we need?  What kinds of report generation do we need?  This issue is to gather those requirements.  #1077 had no requirements driving it, which is why it was closed.

[2022-02-14 14:52] waxlamp commented on #1163
Closing in favor of #1148.

[2022-02-14 14:52] #1163 closed

[2022-02-15 02:01] subdavis opened #1170 "Issue with new CSV parsing code"
**Describe the bug**

[code]

**Related data**
https://viame.kitware.com/girder/#job/62095ad0ab16673a66799e37

[2022-02-15 20:58] subdavis commented on #1170
duplicate of #1167

[2022-02-15 20:58] #1170 closed

[2022-02-15 21:02] BryonLewis opened #1172 "Toolbar Button states cause pixel shifting"
**Describe the bug**
When toggling Visible buttons in the toolbar they will cause a pixel shift depending on their state.
![image](https://user-images.githubusercontent.com/61746913/154148484-01beab6b-5344-4da1-b724-dbb115227d22.png)

**To Reproduce**
Steps to reproduce the behavior:
1.  Load up a dataset with annoations
2. Toggle the visible button on/off and look closely at the left/right

**Exp

[2022-02-15 21:04] waxlamp commented on #1167
@mattdawkins, can you look into fixing the pipelines that are putting bad data in that column? That seems like the better fix to me.

[2022-02-15 21:16] BryonLewis opened #1173 "Handle Empty Image Names (Column 2) in VIAME CSV Import"
**Describe the bug**
When importing a CSV for an image-sequence where there are no filenames specified in column 2 in the viame csv.  It will error and say that the images are missing from the annotation.

**To Reproduce**
Steps to reproduce the behavior:
1. Take a working viame CSV for import and delete the values in Column 2 so they are empty.
2. Try to import or load it into the system.

**Expe

[2022-02-15 21:19] waxlamp commented on #1173
Request came from Rusty.

[2022-02-15 21:46] waxlamp commented on #1125
@mattdawkins, I believe this is something you're interested in as well. Do you have some idea of how urgent this feature would be for you?

[2022-02-15 21:49] #286 closed

[2022-02-18 19:29] waxlamp opened #1176 "Use large_image to deal with large TIF files"
See original discussion here: https://github.com/Kitware/dive/issues/426#issuecomment-1011193913

[2022-02-20 07:37] ghost opened #1178 "cmake is trash and so is kitware."
shame on kitware for promoting that evil "organization" which initially sponsored cmake.
Death to that evil "organization".
 cmake is trash and so is kitware .

#kitwareisbad

[2022-02-21 14:30] #1178 closed

[2022-02-22 15:47] #697 closed

[2022-02-22 15:47] #1172 closed

[2022-02-23 16:41] #1173 closed

[2022-02-23 19:35] BryonLewis opened #1181 "Sticky Mode Attributes Creation Option"
**Is your feature request related to a problem? If so, Please describe.**
When creating new detections for a track, copy over existing attributes and values to the new detection.

**Describe the solution you'd like**
Some toggle state that allows for each new detection in an existing track to copy over the last detection's set attributes value.
That way the user could continue along annotating wit

[2022-02-23 19:43] BryonLewis opened #1182 "Selection Range Overwriting Attributes"
**Is your feature request related to a problem? If so, Please describe.**
Setting the same attribute state on a large range of track.  I.E. set detection attribute: Motion: True for frames 120-400 for a track.

**Describe the solution you'd like**
Ability to select a frame range for a selected track to applied modified attributes to.
Selection could be number inputs or perhaps use the event viewer

[2022-02-24 17:47] subdavis opened #1185 "[Regression] Track Trail length controls are broken"
Probably introduced in #1147

[2022-02-24 18:04] BryonLewis commented on #1185
found it: https://github.com/Kitware/dive/pull/1175/files#diff-007f6cea7d4cfd2ee13abb9a1de01a4b8bfdaf321fc2637144c914aa4311caf5L507

Should be a simple fix.

[2022-02-24 18:18] #1185 closed

[2022-02-28 14:51] #1148 closed

[2022-03-01 16:15] #1150 closed, assigned to subdavis

[2022-03-02 15:23] #1167 closed

[2022-03-03 15:36] subdavis opened #1193 "When Bounding Box Visibility is OFF, Polygon points cannot be selected"
**Describe the bug**
Likewise, clicking the part of the point outside the bounding box doesn't work.  Point selection should not depend on the click event happening inside a valid bbox.

**To Reproduce**
1. Draw a polygon.
2. Turn off bounding box visibility
3. Try and delete a point.

**Expected behavior**
Should still be able to delete points.

[2022-03-03 16:59] subdavis commented on #850
# Design documentation

## Enumeration of features

This feature is for general-purpose temporal groupings.  These can be interpreted as "activities" or any other semantic group.

* Groups are created by choosing 1 or more track members.  A group may not exist without members.
* Like tracks, groups have confidencePairs and attributes.  As a first pass, only the type will be editable.  Later, we wi

[2022-03-08 16:40] subdavis opened #1197 "Client Side Image Enhancement"
TODO fill this out.

[2022-03-08 21:41] waxlamp commented on #850
@waxlamp, @marySalvi, @BryonLewis: please provide questions/thoughts about Brandon's design.

[2022-03-09 16:15] #991 closed

[2022-03-09 16:53] #971 closed

[2022-03-10 16:56] subdavis opened #1198 "Improve and harden upload retry logic"
During upload, a chunk failure should be retried, possibly several times, and failure should prompt the user to resume their upload properly rather than failing outright.

[2022-03-14 14:22] BryonLewis commented on #1197
initial testing of the system and need to decide on scoping of the issue.

https://user-images.githubusercontent.com/61746913/158190746-27a17a66-cd6a-464c-b9ea-70e0c938b84e.mp4

- When talking about a "center of range" is this a third point that allows sliding left/right of the other two sliders (I.E. you drag the middle point left two pixels so both the left and right endpoints slide 2 pixels to

[2022-03-14 14:26] waxlamp commented on #1197
No need for this, unless someone asks for it specifically. My intuition is that this operation of moving the entire range is not usually useful; in the vast majority of cases, people will want to manipulate each end of the range in isolation in order to investigate how each affects the image.

Out-of-scope for a first attempt.

Don't worry about RGB. The right way to handle color images is likely

[2022-03-14 14:38] subdavis commented on #1197
This looks awesome.  Agree with Roni's comments.

There will be conflicts with #1188 because I had to change how the sidebar context worked to enable web to register a sidebar component not in `dive-common`.   It should be minor to resolve, but just FYI.

[2022-03-15 17:17] BryonLewis commented on #1197
Additional quick question.  I'm guessing this should be stored in the `meta` data for the dataset like the `typeStyling`?
Something we want persisted on the dataset between different users and set by the owner of the dataset?

[2022-03-15 20:22] mattdawkins opened #1201 "Detections and display frames are off by one frame on certain videos"
**Is your feature request related to a problem? If so, Please describe.**

Detection and display frames are off by 1 on certain frames (so the boxes are slightly off, though when you take the boxes on the next frame and apply them to the previous frame they look good)

Example:

https://viame.kitware.com/#/viewer/620bd47379584116e4390485

[2022-03-17 14:27] waxlamp commented on #1197
I know we talked about this on Tuesday, but just for the record: we decided that a first pass could avoid persisting this setting altogether, and in a future iteration we can gather requirements to see what users actually need of persistence.

[2022-03-17 19:42] waxlamp commented on #850
This seems like a reasonable design. I don't understand enough about how this is supposed to work to comment on the UI design, but I think the unconstrained temporality is a good model for capturing the essence of a group. And I agree that "activity group" will fit into this generic model quite easily.

[2022-03-23 15:03] waxlamp opened #1202 "Option to confirm a classification as correct"
Need the ability to look at the list of confidence pairs and select one of them as correct (thus boosting its confidence to 1.0).

[2022-03-23 15:27] subdavis commented on #1202
I think it would be best to put that option here in the Confidence Pairs list of the track editor.

![Screenshot from 2022-03-23 11-26-41](https://user-images.githubusercontent.com/4214172/159735297-c7b2a611-73c9-462c-85fc-611e24c06dc5.png)

[2022-03-24 14:51] #1078 closed

[2022-03-24 15:39] BryonLewis opened #1203 "Revision History Scrolling Load + Selection"
Currently when using revision history if you have a long list and select one near the bottom (after the scroll loading has loaded, so one further currentRevision-20).  It will refresh the page and cause it to hide the selected revision.  We should probably load at least to the select revision so it can be properly highlighted on the reloading?

[2022-03-29 14:22] mattdawkins opened #1208 "Add method for displaying an adjusted uncertainty range for each type count"
**Is your feature request related to a problem? If so, Please describe.**

All detectors have false alarms and missed detections, we need some way to display either incorporated uncertainty measures into final counts (which might produce a range and range confidence) or a fix scaling of the counts for each individual type (which might typically be just one value, a scaled count) for a sequence for

[2022-03-29 14:34] subdavis commented on #1208
Please provide more information about the data.   What data, in what format, would a pipeline produce to indicate these uncertainties?  If this is a new file or a change to the CSV, an example would be helpful

[2022-03-29 14:42] mattdawkins commented on #1208
These will not be produced by a pipeline, it will be an external function determined after the fact in offline tools.

Ideally we'd want this stored in an importable configuration that contains both the thresholds these scaling functions are meant for and were computed at (using our scoring tools), and the per-category thresholds.

In most cases the 'function' will be a linear scaling of the 2 inp

[2022-03-29 17:37] #1002 closed

[2022-03-29 18:08] #1202 closed

[2022-03-29 20:13] subdavis commented on #1158
Old UI was kinda bad.  I was planning to replace it with a v-data-table just because it's easy.  Possibly using the expansion feature to show the associated datasets: https://vuetifyjs.com/en/components/data-tables/#expandable-rows

The table would be like this, and then you expand the fish row and get links to all 10 of the datasets with fish.

| Type | Number of datasets | Number of annotations

[2022-03-30 13:43] subdavis opened #1211 "Error: dest already exists"
**Describe the bug**
Desktop backend error when saving after a clumsy rollback.

**To Reproduce**
Steps to reproduce the behavior:
1. Do a "rollback" on desktop by copying a file from auxiliary into the main project dir.
2. Launch desktop, open the dataset, try to save.
4. See error

**Expected behavior**
Save should still work.

[2022-03-30 14:39] waxlamp commented on #1158
@mattdawkins, let us know if you have any objections to this. We're planning to go ahead with it since it's a simple and solid way of readding this feature which can be modified/expanded in the future if needed.

[2022-04-11 02:08] mattdawkins opened #1219 "Loading a folder with a gt file in it, then emptying out gt field, still triggers failed load of empty file"
**Describe the bug**
If a CSV or JSON exists alongside imagery, then the Annotation File field is deleted, DIVE desktop still attempts to load some empty file, yielding something such as the attatched. Often if a csv is in a folder we want to load the imagery empty, so the auto-fill in is sometimes helpful, sometimes annoying but should at least have a way to back out of it

![Screenshot at 2022-0

[2022-04-11 02:16] mattdawkins opened #1220 "Show periods in pipeline names (test at pipes at a minimum, maybe not train)"
Some pipelines have version numbers or other specifiers, ala the below which has "v2.4" and "0.5x" for version fields and zoom level pipelines are operating off respectively, which look funny

![test](https://user-images.githubusercontent.com/2353972/162653894-7b70a7a8-6c8f-4167-afc2-00894e1b3544.png)

[2022-04-11 02:19] mattdawkins opened #1221 "Align confirmation checkmarks in the same column for consistency"
When class names are long and variable, they get misaligned per the below

![screenshot_from_2022-04-08_16-59-29](https://user-images.githubusercontent.com/2353972/162654229-c63e967b-93d4-4cb7-a7a5-30586f4a34d1.png)

[2022-04-11 02:25] mattdawkins opened #1222 "Job history lost every time desktop app is closed"
**Is your feature request related to a problem? If so, Please describe.**
Job history seems to be flushed in desktop version everytime the app is closed

Also a little concerned job folder will grow and not get deleted in the user's directory since all prior history seems to be there

**Describe the solution you'd like**
Show the history from prior jobs in case DIVE is closed and opened again, and

[2022-04-11 02:35] mattdawkins opened #1223 "Either a documented way for users to add text comments to datasets or button"
**Is your feature request related to a problem? If so, Please describe.**
Adding either a documented way for users to add text comments to datasets (in adv girder interface maybe), or a button in standard interface - text might include contact information or paper/citation information for a folder

[2022-04-12 14:31] mattdawkins commented on #623
Maybe we should divide this issue into multiple? (import directory of videos #1, multi-cam mass import #2)?

[2022-04-12 14:43] mattdawkins commented on #530
We could make a pipeline that transcodes videos into whatever format you need, and concurrently runs the analytics on the data.

It's a little cumbersome from the GUI perspective though and I hit this the other night (I wanted to start a run before I went to bed on a video, but had to wait 30 minutes for it to transcode before I could set up a run on the data)

[2022-04-12 14:45] mattdawkins commented on #530
Also that would make a lot of duplicate .pipe files for no reason

[2022-04-13 12:40] BryonLewis commented on #1219
I'm having some difficulties in reproducing this error, using the downloaded JRS_8 collection.  I load it and it auto detects and csv.  I clear it using the X in the interface and am able to load the data properly.
What version are you using (Setting -> bottom of the screen will include version and build commit).
I know this was an issue in older versions but it should be resolved now.

[2022-04-13 13:37] subdavis commented on #1221
Looks like QuadCam.  Any of these should reproduce it: https://viame.kitware.com/#/folder/5e4c2817a0fc86aa0315b1a1

[2022-04-14 16:35] BryonLewis commented on #1221
disregard, I took some time to create a slightly different dataset which could display the issue.

[2022-04-18 12:08] subdavis opened #1227 "Message: No supported media-type files found"
**Describe the bug**
User uploaded a ZIP archive that clearly has images, but the zip fails to validate.  Also, the ZIP shouldn't be deleted if extraction fails because then we can't reproduce or figure out what went wrong.

[code]

**To Reproduce**
Cannot reproduce, the zip was deleted.   Might be able to create a similarly structured ZIP and see what happens.

**Related data**
https://viame.kitw

[2022-04-19 13:36] mattdawkins opened #1228 "Infinite Load of (Possibly Malformed, Possibly Not) CSV File"
**Describe the bug**
Attempting to load the data in //videonas:/other/projects/dive results in an infinite hang (that or waiting 30 minutes wasn't enough)

Also hit similar issue as https://github.com/Kitware/dive/issues/1219 with attempting to empty out the groundtruth file (from auto detection) and it still tries to load it (now I understand that if you press the 'X' next to it it won't try to l

[2022-04-19 14:03] mattdawkins opened #1229 "Upgrade banner always appears even after reload after clean shutdown"
**Describe the bug**
Upgrade banner always appears on boot, even after clean shutdown on app on last run (with no upgrade in versions between runs, this is with static unchanging binaries)

I really don't care to know that DIVE's version has been updated everytime I load it (and it hasn't). That said, I'm on a development PC that has gone through multiple versions of DIVE so maybe that has somethi

[2022-04-19 14:05] mattdawkins commented on #1219
Pressing the 'X' next to the annotation CSV/JSON field at the right side of this dialogue triggers the JSON file to not be loaded, but emptying out the filepath does not

[2022-04-19 14:09] subdavis commented on #1229
The banner doesn't go away until you dismiss it with the X.

[2022-04-19 14:21] mattdawkins commented on #1158
One of the point of this to find if anyone is annotating similar categories on other data though. Searching just "published" data doesn't satisfy that (which isn't our responsibility to review everyone's data, and the term "published" is overloaded here as some people could think that means in research publications so I would advise against using that term at a minimum).

[2022-04-19 14:22] mattdawkins commented on #1229
I did, it still comes up everytime

[2022-04-19 14:25] mattdawkins commented on #1228
They are related but I'd still probably say seperate - this is about a specific non-loading CSV whereas 1219 is about DIVE attempting to load the JSON/CSV even if the text field is removed, feel free to differentiate further if you want or merge

[2022-04-19 14:36] mattdawkins commented on #596
I could see saving before all pipeline runs

[2022-04-19 14:51] mattdawkins opened #1230 "Option to delete multiple entries in Desktop version"
**Is your feature request related to a problem? If so, Please describe.**
I'm always frustrated when I need to delete each dataset individually and there is a confirmation dialogue for each one

**Describe the solution you'd like**
A checkmark for multiple entries then one delete option?

[2022-04-19 14:58] mattdawkins commented on #530
Might be able to make a KWIVER CLI option that adds two pipes together to prevent having to duplicate pipes, then it would be a CLI option to output transcoded videos to some file.

Though I think a pipeline dropdown in the import option would be a little cumbersome as opposed to using the main data display / data list to launch pipelines on multiple sequences.

[2022-04-19 17:22] mattdawkins commented on #999
Alphabetical sort with the exception of train_detector_default being first in the list takes care of most of the above cases

[2022-04-19 19:52] waxlamp commented on #1208
@mattdawkins, can you provide us with an example of how we would get these values within DIVE? That is, can you send us a VIAME CSV, along with an example output detailing the *s*, *c*, and "threshold" values corresponding to it? That will help us understand how to engineer a solution for this issue.

[2022-04-19 20:33] waxlamp commented on #596
@BryonLewis, can you look at this and come up with a rough time estimate? attn: @mattdawkins

[2022-04-20 19:16] BryonLewis commented on #596
Looks like it would be about 30-40 minutes of work.  Brandon already created and AutoSavePrompt component for the export functionality it would just need to be imported into the Run pipeline and triggered to check if there are outstanding saves and it will ask you before you run the pipeline.

[2022-04-20 20:36] BryonLewis commented on #1228
Looks like it may be an issue in how it loads data from network locations.  Going to have to try a few more things to identify the exact problem.

[2022-04-21 13:39] mattdawkins commented on #1208
We're still deciding what that's going to be but hopefully will over the next week (or two)

[2022-04-22 02:51] filippo-ferrario opened #1231 "output information lacking"
I am reading your guides and I am trying to understand what VIAME and DIVE do, I still did not find a bit of information on what is the output of all these tools. For example, when reading the documentation/tutorial/guide for CoralNet It was clear that at the end of the day I would have had a report file (a csv) with the percent cover of the different categories annotated.

What is/are the output

[2022-04-22 13:50] subdavis commented on #1231
Thanks for your interest in VIAME and DIVE.

To give a summary, VIAME is a computer vision software platform useful for training different types of object detectors and full-frame classifiers.  It has a lot of built-in models that we have trained to analyse the types of data our customers have, but if none of those work for you, VIAME lets you train your own.   You can use it via command line, thr

[2022-04-25 21:20] subdavis opened #1232 "400 Error on pipeline run"
**Describe the bug**
Some pipelines are throwing 400 when downloading source media.

**To Reproduce**
TODO

**Related data**
https://viame.kitware.com/girder#job/6266b97267bd7e7180debaee
https://viame.kitware.com/girder#job/6266bdca5230234820595628
https://viame.kitware.com/girder#job/6266c1a79099a59e4d0b8f2a

[2022-04-26 19:16] mattdawkins opened #1233 "Frame alignment issues at certain FPS"
**Describe the bug**
DIVE is a still a couple frames off of pipelines on certain videos:

https://viame.kitware.com/#/viewer/60fb350f78885a5d294b76f0

[2022-04-29 14:04] #999 closed, assigned to waxlamp, BryonLewis

[2022-04-29 14:04] #1221 closed

[2022-05-02 17:33] subdavis commented on #1233
Is this different than #1166 ?

[2022-05-03 15:00] mattdawkins commented on #1233
Different, 1166 is a known issue with that video. The annotations just need to be cleaned up on disk due to incorrect fps in the csv file.

This one is a video and pipeline alignment issue when running pipes on the data, or related

[2022-05-03 18:44] #1228 closed

[2022-05-04 15:46] mattdawkins commented on #1166
I'll handle this one when I update these (particular) annotations on disk

[2022-05-17 13:19] subdavis opened #1245 "Embed FFMPEG as VIAME missing fallback"
**Is your feature request related to a problem? If so, Please describe.**
Users who do not have VIAME and are either unwilling or unable to install ffmpeg independently of DIVE should be able to use DIVE as a standalone binary with full annotation features.

**Describe the solution you'd like**

Try embedding https://www.npmjs.com/package/ffmpeg-static

Remove logic to try and use a local `PATH` i

[2022-05-17 20:50] BryonLewis commented on #1233
Matt could you verify that running that pipeline through extra_video_frames.sh at 1 FPS is giving the proper frames.  I took the video embedded frame numbers and ran the extraction and the frames it was giving back were not what I expected.  Let me know if you want that version of the video with the embedded frame numbers and times.

[2022-05-19 17:47] #1158 closed

[2022-05-23 18:07] subdavis commented on #1231
Closing, no response from issue reporter.

[2022-05-23 18:07] #1231 closed

[2022-05-26 16:54] #1245 closed

[2022-06-01 11:25] BryonLewis opened #1253 "Web based large image support"
Support for displaying and annotating large images in DIVE on the web.

Will require:

- [x] 1.  Getting girder-large-image plugin and installed and properly configured
- [x] 2. Capability to upload a large image file formats to the web through the UI and prevent filtering them out on the backend
- [x] 3. Ensure that large TIFS or pyramidal Tifs are no longer converted and are viewed using large i

[2022-06-10 14:19] BryonLewis opened #1257 "Single Frame Timeline Views"
**Describe the bug**
When a dataset has a single image in view the timeline doesn't display any data:
![image](https://user-images.githubusercontent.com/61746913/173085746-2be85414-af35-42b0-82d1-29473874d388.png)
![image](https://user-images.githubusercontent.com/61746913/173085812-e314f7b9-dc6a-490c-b288-41f4b76a5ae1.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Load up an image seq

[2022-06-10 16:42] subdavis opened #1258 "Support Addon CSV Updates"
**Is your feature request related to a problem? If so, Please describe.**
It's annoying to have to enter ADDON urls in the update endpoint

**Describe the solution you'd like**
Use CSV addon list: https://github.com/VIAME/VIAME/pull/152

[2022-06-16 12:45] subdavis opened #1260 "Show all users the job queue size."
**Is your feature request related to a problem? If so, Please describe.**
Allow every user to see the status of the job queue so that users can understand where their work is in the queue and also allow users to shut down the worker if they know nobody else is using it.

**Describe the solution you'd like**
Add the current size of the queue to`/#jobs`.

**Describe alternatives you've considered**

[2022-06-22 17:56] subdavis opened #1262 "Recursive export of directory structure."
**Is your feature request related to a problem? If so, Please describe.**

From our experimenting, we can only download folders from VIAME-Web that have images in them (i.e., the frames-# folders in the above description). We also see that we can download multiple folders in the same directory at once which is nice. However, it would be ideal from our perspective to also be able to download, for i

[2022-07-07 14:11] subdavis opened #1269 "Make Training Warning Dialog Customizable."
**Is your feature request related to a problem? If so, Please describe.**

Would it be possible to have the 'server update' warning message in the train model window (see below) be part of the [server branding config](https://kitware.github.io/dive/Deployment-Docker-Compose/#server-branding-config) options? I've had a couple of  folks ask me about this with our deployment of VIAME-Web, but as far

[2022-07-12 19:42] #1260 closed

[2022-07-14 17:16] mattdawkins opened #1271 "Moving a detection using the center move selector doesn't move it's polygon, only box"
**Describe the bug**
![image](https://user-images.githubusercontent.com/2353972/179043753-71dee2a6-5a72-43e2-b343-5da8ca740b64.png)

I'd ideally want to shift the drawn polygon alongside the box, which is useful if the polygon is slightly off target

[2022-07-14 19:22] BryonLewis opened #1272 "Continuous Creation: TrackId not found in any camera"
**Describe the bug**
Noticed in Sentry a ton of bugs related to "TrackId X not found in any camera"
Looked at the sentry UI logs to try to replicate the problem.  Looks like an issue with continuous mode causing the issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the track mode to continuous
2. Create a track and have the console open
3. Notice that it will say it can't find a tra

[2022-07-18 12:48] #1272 closed

[2022-07-19 19:22] BryonLewis opened #1274 "AddOn Upgrades are failing"
**Describe the bug**
The Addon's documentation is incorrect:
https://kitware.github.io/dive/Deployment-Docker-Compose/#addon-management
This is no longer the data that is being used and the referenced file isn't right.
This is the proper URL list in a CSV file format: https://github.com/VIAME/VIAME/blob/main/cmake/download_viame_addons.csv

**To Reproduce**
Try using the dive_configuration/upgrade

[2022-07-22 17:20] BryonLewis opened #1277 "Providing more Information about Training Jobs"
Per Sam Woodman @ NOAA:
"On the jobs page (for a user, or for admin on /girder#jobs) I feel it would be quite useful if the job title for 'training' jobs was more informative than 'running training on # datasets'. For instance, I really like how informative the pipelines title is (e.g., 'Running _pipeline_name_ on _folder_name_'), and I wonder if the job title for training could ~mirror this forma

[2022-08-04 12:50] BryonLewis commented on #1271
If you switch to polygon mode and grab the center point it will move the entire polygon and the box.  When editing polygons you should be in polygon mode.

[2022-08-04 13:04] BryonLewis commented on #1229
You need to resync the data in the settings.  Different versions of the application have their own localstorage where that list exists.    I think a better solution is to provide information about synching when these errors occur.

[2022-08-04 14:52] BryonLewis opened #1282 "Update Admin Documentation"
Administrative Documentation needs to be updated.

Specifically:
- Addons installing and tools
- Admin Panel information
- Admin Jobs Panel
- Admin Branding panel

[2022-08-04 14:52] #1258 closed

[2022-08-04 14:52] #1269 closed

[2022-08-04 14:52] #1274 closed

[2022-08-04 14:52] #1277 closed

[2022-08-04 15:44] BryonLewis opened #1283 "Future Attribute Features"
Additional Features to add to Attributes and the Attribute Details panel in the future.

Detection Attribute String Graphing:

- Graphing of attributes using a system to display the text/boolean values instead of the numerical values.
- This would require using sometime similar to the event viewer where the color and label of the bar changes over time.
- Require giving each subset value it's own c

[2022-09-14 18:17] BryonLewis opened #1292 "Multi-Camera Large Dataset Issues"
**Describe the bug**
When using a large dataset (meaning that each track has a lot of information).
This information could be dense/high point polygons, multiple polygons, or a track attributes with a lot of data.
In multicamera mode the performance of actions like adding a new track or renaming the tracks will take significantly longer and sometimes cause the heap to overflow and get an allocatio

[2022-09-19 11:31] epifanio opened #1294 "reusing pascal-voc annotation to re-train a VIAME detector"
I am using VIAME desktop on Linux with GPU support - I have a number of annotated seafloor images (~58K HabCam V4)  - is there a way to further train a VIAME detector/network based on my annotation?
 The annotations are available as an XML file (one for each image)  in pascal-voc format, I may try to convert the annotation in Yolo format if that can help. Thanks for any advice!

[2022-09-19 14:36] mattdawkins commented on #1294
Yes

We only support the file formats listed here:

https://viame.readthedocs.io/en/latest/section_links/detection_file_conversions.html

Predominately VIAME CSV and COCO JSON across the board, in both the DIVE interface and project folders - so you'd need to convert to one of them if you want to train things out of the box, or alternatively write file format parser code for Pascal-VOC and add it

[2022-09-19 15:18] epifanio commented on #1294
@mattdawkins thank you for your reply -

I guess the reader code is in  is that correct?

from the sample line:
[code]
the fields are:

[code]

means for multiple bbox in the same image, I will have the image l;listed N times for how many bbox, with unique ID

Is my interpretation correct?

May I ask for a pointer to the docs on how to initiate the training process?
Ideally I'd like to start from

[2022-10-03 04:12] rgov opened #1298 "Access control issue with private runner"
I am playing with running the private worker on our HPC cluster. It spins up with:

[code]

The access control policy for this queue is given by the following regular expression:

https://github.com/Kitware/dive/blob/bae06509ffa7c547433b6c791242e22e547ad38b/server/rabbitmq_user_queues/views.py#L67

Note that the queue name is `celery@gpu001.celery.pidbox`.  This seems to be using my local computer

[2022-10-04 18:01] BryonLewis commented on #1298
I just want to confirm that on the jobs page (https://viame.kitware.com/#/jobs) you toggled on "Enable Private Runner Queue" and then ran the docker quickstart command with your proper credentials

I just some testing with my local machine to make sure the private queues are working and they seem to be.

Could it be that the internal HPC node isn't allowed to connect to some outside servers?
The A

[2022-10-04 18:21] rgov commented on #1298
Yes I believe so. Full disclosure, I am using a different containerization technology (Singularity) with the official `viame-worker` container image.

I don't think so. It is able to connect to Amazon, but it specifically is getting a 403 ACCESS_DENIED error, not some other error about not being able to connect.

I have no idea. The `celeryconfig` is definitely being loaded because it is picking u

[2022-10-04 18:24] rgov commented on #1298
As a workaround on my side, I did discover I can override the container's hostname, so I was able to force it to a hostname that passes the regex:

[code]

To be clear, there is still probably a bug here with VIAME.

[2022-10-07 21:31] BryonLewis opened #1300 "Discover negative timestamps then transcode with -ss option to FFMPEG"
Videos sometimes have negative frame timestamps.  The initial check of the video should determine if there are negative timestamps.  If they exist it should then force a transcode using -ss 0 to seek to the true start time of the video.

This is all a result of the web not knowing the existing of negative time stamps so the first -0.2 timestamp is seen as positive time in the video.

[2022-10-14 22:12] rgov opened #1302 "Zip extraction should not use private queue"
If I upload a .zip file there is a task enqueued to expand it. If I have a private queue, this means that my own worker system will do the work of expanding the archive. This is probably a bad idea because it means the whole archive has to be downloaded and then re-uploaded again.

[2022-11-01 16:42] mattdawkins opened #1304 "Clicking block on timeline view often does not go to the most intuitive frame"
**Describe the bug**
When I click the rightmost side of the 'block' in the below it zooms to the next frame not the current one which is what I'd expect. This starts 3/4s of the way through the block where if I press in the first 3/4 it goes to the expected frames

![Screenshot from 2022-10-31 10-43-47](https://user-images.githubusercontent.com/2353972/199288388-e8110ed9-5be2-4f16-a584-5de9c4278d0

[2022-11-01 16:56] mattdawkins opened #1305 "Type colors not honored on timeline view"
**Describe the bug**
Changing the colors of the background categories in the attached doesn't change the colored bars in the timeline view which seem to be initialized to random tans/reds most of the time

![Screenshot from 2022-10-31 10-40-29](https://user-images.githubusercontent.com/2353972/199291468-276fb4b2-dc84-48e2-a87f-b8f56f806a72.png)

[2022-11-01 17:03] mattdawkins opened #1306 "Option for track list to only display tracks on the current frame as option"
**Is your feature request related to a problem? If so, Please describe.**

Currently the track list displays tracks across the entire sequence which is good for several applications and should likely remain the default, though for others it would make sense to only display tracks on the current frame so they can be quickly adjusted or weeded out, e.g. background segmentation